<!DOCTYPE html>
<html lang="no" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Kontakt meg</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div th:replace="~{fragments/layout :: nav}"></div>
        <hr>
        <br>
        <h1>Kontakt meg</h1>
        <form th:action="@{/kontakt}" method="post">
            <label for="navn">Navn:</label><br>
            <input type="text" id="navn" name="navn"><br>
            <label for="melding">Melding:</label><br>
            <textarea id="melding" name="melding"></textarea><br>
            <button type="submit">Send</button>
        </form>
        <br>
        <hr>
        <div th:replace="~{fragments/layout :: footer}"></div>
    </body>
</html>